/* ---- DESIGN ---- */
:root
{
  color-scheme: dark; /*puts everything (even scrollbar) into dark mode*/
}


html, body
{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Space Grotesk', sans-serif;
  /*remove annoying horizontal scroll*/
  max-width: 100%;
  overflow-x: hidden;
}

canvas
{
  display: block;
}

.logo img
{
  padding: auto;
  display: block;
  padding-left: 2rem;
  padding-top: 1rem;
  height: 3rem;
}

.top-links
{
  padding-left: 2rem;
}

.top-links a
{
  display: inline-block;
  margin-right: 0.5rem;
}

h1, h2, h3, h4, h5, h6
{
  color:white;
  text-align: left;
  padding-left: 2rem;
}

.controls p
{
  color:white;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 0px;
}
.controls h4
{
  margin-bottom: 4px;
}

p
{
  color:white;
}

a
{
  color: white;
  margin-top: 0;
}

a:hover
{
  color: #0066FF;
}

a:active
{
  color: #003380;
}

.soft-version
{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  opacity:0.6;
  text-transform: uppercase;
}

button /*, rec-button -- this one too*/
{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Space Grotesk', sans-serif;
  color:white;
  text-align:center;
  transition: all 0.2s;
  background-color: transparent;
}

button:hover
{
  border:0.1em solid #0066FF;
  font-family:'Space Grotesk', sans-serif;
  background-color: #0066FF;
}

button:active
{
  border:0.1em solid #003380;
  font-family:'Space Grotesk', sans-serif;
  background-color: #003380;
}

#rec-button
{
  position:absolute;
  z-index: -999;
  text-align: center;
}


/* ---- STRUCTURE ---- */
.header
{
  position:fixed;
  width: 100%;
}

.flex-divider-top /* used in div class"top" */
{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: h;
  z-index: -999
}

.footer
{
  position:absolute;
  bottom:0;
  width:100%;
  height: 50px;
}

.footer-content
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile-control button
{
  width: 100px;
  min-width: 50px;
  display: none;
  margin-left: 20px;
}

.compatiblity-alert-ios
{
  display: none;
  height: 70px;
  background-color: red;
}

.compatiblity-alert-ios p
{
  color: white;
}


@supports (-webkit-overflow-scrolling: touch) /*If iOS or iPadOS, display compatiblity alert.*/
{
  .compatiblity-alert-ios
  {
    display: block;
  }
  
  .introductory-text /* The initiator text */
  {
    display: none;
  }
}

/* show controls on mobile only*/

@media not screen and (min-width: 1024px)
{
  .mobile-control button
  {
    display:flex;
  }
}

.introductory-text /* The initiator text */
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#introductory-text-id
{
  -moz-animation: cssAnimation 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 5s forwards;
  /* Opera */
  animation: cssAnimation 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation
{
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation
{
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}