/* ---- DESIGN ---- */
:root
{
  color-scheme: dark; /*puts everything (even scrollbar) into dark mode*/
}


html, body
{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Space Grotesk', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  /*display: flex;*/
}

canvas /* sets the p5.js canvas to BLOCK*/
{
  display: block;
}

h1, h2, h3, h4, h5, h6
{
  color:white;
  text-align: left;
  padding-left: 2rem;
}

p
{
  color:white;
  font-size: 14px;
}

a
{
  color: white;
  margin-top: 0;
}

a:hover
{
  color: #0066FF;
}

a:active
{
  color: #003380;
}

ul, li
{
  margin: 0;
  padding: 0;
}

button /*, rec-button -- this one too*/
{
  padding: 12px 26px;
  color: #fff;
  border: 0;
  font-weight: normal;
  font-size: 12px;
  transition: all 150ms ease-in-out;
  
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset, 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  background: linear-gradient(180deg, #404146 0%, #272729 100%);
}

button:hover
{
  filter: brightness(1.2);
}

button:active
{
  transform: scale(.95);
}

#rec-button
{
  position:absolute;
  z-index: -999;
  text-align: center;
}

generatron-p5sketch
{
  position: absolute;
  top: 76px;
  bottom: 0;
}

.generatron-logo
{
  padding: 20px;
}

.generatron-logo img
{
  height: 36px;
}

.generatron-version-top-label
{
  padding: 20px;
  padding-right: 30px;
}

.menu
{
  position: fixed;
  width: 50%;
  height: 100vh;
  background-color: #000000;
  transform: translateX(-1000px);
  transition: 0.5s;
  overflow: scroll;
  z-index: 999;
}

.show-menu
{
  transform: translateX(0);
}

.menu li
{
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu li a
{
  display: block;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-main-items li a
{
  color: #ffffff;
}

.menu-main-items li
{
  height: 100px;
  font-size: 60px;
  padding: 20px;
}

.menu-secondary-items li
{
  height: 50px;
  font-size: 30px;
  padding: 10px;
  padding-left: 20px;
}

/* MENU ITEMS COLORS*/
.menu-item-1
{
  background-color: #DF585D;
}

.menu-item-2
{
  background-color: #EE754B;
}

.menu-item-3
{
  background-color: #EEE20F;
}

.menu-item-4
{
  background-color: #67D30F;
}

.menu-item-5
{
  background-color: #67A6E1;
}

.menu-item-small-1
{
  background-color: #ffffff;
}

.menu-item-small-2
{
  background-color: #000000;
}

.menu-item-small-1 a
{
  color: #000000;
}

.menu-item-small-2 a
{
  color: #ffffff;
}

.menu-info
{
  display: flex;
  align-items: flex-end;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  height: 100px;
  padding: 20px;
  opacity: 35%;
}


/* ---- STRUCTURE ---- */
.header
{
  position:fixed;
  width: 100%;
  height: 76px;
  background-color: #000000;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-divider-top /* used in div class"top" */
{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: h;
  z-index: -999
}

.footer
{
  position:absolute;
  bottom:0;
  width:100%;
  height: 50px;
}

.footer-content
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile-control button
{
  width: 100px;
  min-width: 50px;
  display: none;
  margin-left: 20px;
}

.compatiblity-alert-ios
{
  display: none;
  height: 70px;
  background-color: red;
}

.compatiblity-alert-ios p
{
  color: white;
}


@supports (-webkit-overflow-scrolling: touch) /*If iOS or iPadOS, display compatiblity alert.*/
{
  .compatiblity-alert-ios
  {
    display: block;
  }
  
  .introductory-text /* The initiator text */
  {
    display: none;
  }
}

/* show controls on mobile only*/

@media not screen and (min-width: 1024px)
{
  .mobile-control button
  {
    display:flex;
  }
}

.sketch-overlay
{
  z-index: 0;
}

.introductory-text /* The initiator text */
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#introductory-text-id
{
  -moz-animation: cssAnimation 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 5s forwards;
  /* Opera */
  animation: cssAnimation 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation
{
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation
{
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}